.gallery-section {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-bottom: 20px;
}

.gallery__item {
  flex-basis: calc((100% - 120px) / 4);
  margin: 15px;
  height: 215px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  color: #9da4bd;
}

.info-item > b {
  font-size: 12px;
  color: #9da4bd;
}

.gallery-img {
  margin-bottom: 5px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
