.search-form {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.search-form > input {
  margin-bottom: 40px;

  width: 300px;
  height: 40px;

  padding: 15px;

  background-color: #191c26;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #ffffff;
  font-size: 16px;
  text-align: center;

  @include transition-function(border-color);

  &:hover,
  &:focus {
    border-color: #ff6c00;
    outline: none;
  }

  &::placeholder {
    color: #9da4bd;
    font-size: 14px;
  }
}
